{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true  // Add the Node.js environment
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parser": "@babel/eslint-parser",  // Update parser
  "parserOptions": {
    "requireConfigFile": false,  // For @babel/eslint-parser
    "ecmaVersion": 2023,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": ["off"],
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "detect"  // Automatically detect the React version
    }
  }
}
