.App {
  text-align: center;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0px solid rgba(0, 0, 0, 0.12) !important;
}

.MuiToolbar-gutters {
  height: 74px !important;
}

body {
  background-color: #fbfbfb !important;
  background: url(./img/pattern6.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: soft-light;
   background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: cover;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.makeStyles-textFieldStatus-100 {
  width: 10%;
  margin: 8px;
  margin-top: -7px;
}

.div-issues {
  display: flex;
  flex-direction: row;
  width: 100%;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.error {
  border: 3px solid red;
}

@import "https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css";

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #3b2044;
}
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: #000000;
}

.makeStyles-root-187 {
  width: 80%;
  margin-top: 74px;
  margin-left: 251px;
}

.MuiTableCell-alignRight {
  text-align: left;
  flex-direction: row-reverse;
}

.MuiTableRow-root:nth-of-type(odd) {
  background: #f8f2f2;
}

.MuiToolbar-regular {
  min-height: 64px !important;
}

.Component-paginationToolbar-194 {
  width: 100%;
  padding: 0;
  background: azure;
}

.link {
  font-weight: 500;
}

.priority {
  border-radius: 1em;
  padding: 0.4em !important;
  font-weight: 500;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
  text-align: left;
  color: black;
}

.status {
  border-radius: 0.3em;
  padding: 0.4em !important;
  vertical-align: "sub";
  font-weight: 500;
  font-size: 1em;
  background: -webkit-linear-gradient(90deg, #2f0a2621, #41476757);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
  transition: all 0.2s ease-in-out;
  text-align: center;
  height: 30px;
}

/* NavBar main menu hover */
.MuiListItem-button:hover {
  text-decoration: none;
  box-shadow: inset 0 5px 15px rgba(145, 92, 182, 0.4);
}

/* NavBar main menu hover */
.MuiListItem-button:active {
  text-decoration: none;
  background-color: rgba(47, 0, 255, 0.5) !important;
}

.makeStyles-root-200 {
  max-width: 850px;
  width: 850px;
  margin-top: 24px;
  margin: 0 auto;
}

.makeStyles-root-395 {
  max-width: 850px;
  width: 850px;
  margin-top: 24px;
  margin: 0 auto;
}

.svgLogoIcon {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  fill: rgb(183 110 247);
}

.MuiListItemIcon-root {
  display: inline-flex;
  min-width: 44px !important;
  flex-shrink: 0;
  color: rgb(255, 255, 255) !important;
}

.sideBarIcon {
  color: blue;
  fill: rgb(255, 255, 255);
}

.makeStyles-toolbar-24 {
  min-height: 73px !important;
}

/*@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    padding-left: 292px;
    padding-right: 32px;
    max-width: 770px;
    right: 120px;
  }
}*/

@media (min-width: 600px) {
  .makeStyles-container-189 {
    padding-left: 212px;
    padding-right: 32px;
  }
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #2F1937;
  outline: none;
  transition: border 0.16s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
}

.dropzone:hover {
  border-color: #c9b5d0;
  color: #36233c;
  background-color: #e6e1e1;
}

.aside {
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
  margin: 20px;
}

a {
  color: rgb(49, 49, 49);
  text-decoration: none;
  font-weight: 400;
  outline: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms linear;
  -moz-transition: border 300ms linear;
  transition: border 300ms linear;
}

a:hover,
a:focus {
  transition: all ease-in-out 0.3s;
  color: #665de6;
  text-decoration: dashed;
  border-end-end-radius: 4px solid rgb(73, 248, 152);
}

.buttonList {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 100px;
  list-style-type: none;
}
.buttonList li {
  width: 33.3333%;
  float: left;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
}

.button {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translatez(0);
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
}
.button:hover,
.button:focus {
  text-decoration: none;
}

.makeStyles-drawerPaper-7 {
  background: linear-gradient(
    294.17deg,
    rgb(47, 25, 55) 35.57%,
    rgb(69, 38, 80) 92.42%,
    rgb(69, 38, 80) 92.42%
  );
}

.MuiListItemText-root {
  color: white !important;
}

.sweepButton {
  border-radius: 50px;
  padding: 26px;
  border: 2px solid rgba(255, 38, 38, 0.2);
  color: #f0f0f0;
  background: #000000;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.sweepButton .gradient {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 300%;
  height: 100%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: black;
  background: -moz-linear-gradient(90deg, black 0%, #ff2626 94%, black 100%);
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, black),
    color-stop(94%, #ff2626),
    color-stop(100%, black)
  );
  background: -webkit-linear-gradient(90deg, black 0%, #ff2626 94%, black 100%);
  background: -o-linear-gradient(90deg, black 0%, #ff2626 94%, black 100%);
  background: -ms-linear-gradient(90deg, black 0%, #ff2626 94%, black 100%);
  background: linear-gradient(90deg, black 0%, #ff2626 94%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
  -webkit-transition: all 0s ease-out 0s;
  transition: all 0s ease-out 0s;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  transform: translateX(-35%);
}
.sweepButton:hover,
.sweepButton:focus {
  border: 2px solid rgba(255, 38, 38, 0.8);
  color: #f0f0f0;
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
}
.sweepButton:hover .gradient,
.sweepButton:focus .gradient {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
}

.MuiGrid-justify-xs-center {
  justify-content: flex-end !important;
}

.__react_modal_image__modal_container {
  margin: 0;
  flex: 1;
  align-items: undefined;
  justify-content: undefined;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 100vh;
  height: 100vh;
}

.item0 {
  grid-area: topLeft;
  margin-bottom: 2em;
}
.item0-right-toggle {
  grid-area: topRight;
  margin-bottom: 2em;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: prioritet;
}
.item3 {
  grid-area: oppdatert;
}
.item4 {
  grid-area: kategori;
}
.item6 {
  grid-area: profile;
}
.item7 {
  grid-area: alvorlighet;
}
.item8 {
  grid-area: reprodusere;
}
.item9 {
  grid-area: status;
}
.item10 {
  grid-area: tilleggsinfo;
}
.item11 {
  grid-area: oppsummering;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.item12 {
  grid-area: beskrivelse;
}
.item13 {
  grid-area: stegreprodusere;
}
.item14 {
  grid-area: vedlegg;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.item15 {
  grid-area: delegated;
}
.item16 {
  grid-area: comments;
  margin-top: 2rem;
  justify-self: auto;
}
.item17 {
  grid-area: commentform;
}

.form-grid {
  overflow:hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "topLeft topLeft topLeft topRight topRight topRight"
    "header header header header header header"
    "beskrivelse beskrivelse beskrivelse beskrivelse beskrivelse beskrivelse"
    "prioritet prioritet prioritet oppdatert oppdatert oppdatert"
    "kategori kategori kategori delegated delegated delegated"
    "alvorlighet alvorlighet alvorlighet reprodusere reprodusere reprodusere"
    "status status status status status status"
    "oppsummering oppsummering oppsummering oppsummering oppsummering oppsummering"
    "stegreprodusere stegreprodusere stegreprodusere stegreprodusere stegreprodusere stegreprodusere"
    "tilleggsinfo tilleggsinfo tilleggsinfo tilleggsinfo tilleggsinfo tilleggsinfo"
    "vedlegg vedlegg vedlegg vedlegg vedlegg vedlegg"
    "commentform commentform commentform commentform commentform commentform"
    "comments comments comments comments comments comments";
  grid-gap: 0 2rem;
  border-radius: 12px 0px 0px 12px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.two-columns__aside {
  grid-area: aside;
  position: -webkit-sticky;
  position: fixed;
  /*right: 130px;*/
  /*right: 100px;*/
  border-radius: 0 12px 12px 0px;
  border: 1px solid rgb(209 213 219 / 30%);
  height: 100%;
  background-color: #fff;
  transition: right 0.5s;
}

@media screen and (max-width: 768px) {
  .two-columns__aside {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    right: 66px;
    top: 150px;
    z-index: 2;
  }
}

.two-columns__main {
  grid-area: main;
  min-width: 100%;
  display: inline-block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}

.grid-container > div {
  /* text-align: left;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 5px 2px;*/
  max-width: 100%;
  padding: 0 0;
}

@media (min-width: 1092px) {
  .grid-container {
    max-width: 1060px;
  }
}

.two-columns__center {
  display: grid;
  padding-top: 90px;
  grid-area: auto;
  grid-template-areas: "main";
  grid-template-columns: 100%;
  /* grid-column-gap: 16px; */
  width: 60%;
  margin: 0 auto;
  grid-template-areas:
    "main aside"
    "main aside";
  /* grid-template-columns: calc(147% - 40px) 350px 200px;*/
}

.MuiListItem-root {
  justify-content: center !important;
}

.side-menu {
  display: block;
  overflow-x: hidden;
  overflow: hidden;
  min-height: 90vh;
}

@media only screen and (max-width: 600px) {
  .side-menu {
    display: none;
  }
  .two-columns__center {
      /* display: grid; */
      /* padding-top: 90px; */
      /* grid-area: auto; */
      /* grid-template-areas: "main"; */
      grid-template-columns: 100%;
      /* grid-column-gap: 16px; */
      width: 100%;
      /* margin: 0 auto; */
      /* grid-template-areas:
          "main aside"
          "main aside"; */
      /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    }
}

@media only screen and (max-width: 1024px) {
  .side-menu {
    display: inline-block;
  }
  .form-grid {
    left: 0;
    top: 0;
    border-radius: 12px 12px 0px 12px;
    position: relative;
    width: 390px;
  }
}

.MuiCardActions-root {
  display: block !important;
  padding: 8px;
  align-items: center;
}

.css-d5sp9s-MuiTableCell-root {
  width:  inherit !important; /*calc((100% - 0px) / 1)*/
}
